@import './Global.scss';

body {
    font-size: $Default_Font-size;

    .page-container {
        max-width: 1400px;
        margin: auto;

        // WORLD
        #world_vue {
            margin: 50px 0px;

            .container {
                display: flex;
                align-items: center;
                justify-content: space-around;

                // lists
                ul {
                    width: 500px;

                    li {
                        display: flex;
                        justify-content: space-between;
                        font-weight: 400;
                        padding: 10px 50px;

                        * {
                            margin-left: 10px;
                        }
                    }

                    li.header {
                        font-size: $Default_Font-size + 4;
                        margin: auto;
                    }
                }
            }

            // canvases
            .canvases {
                display: flex;
                justify-content: space-around;

                canvas {
                    margin-top: 50px;
                    max-height: 500px;
                    max-width: 500px;
                }
            }
        }

        // RATING
        #rating_vue {
            margin: 100px 100px;
            
            .conteiner {
                max-height: 800px;
                overflow: auto;

                // table
                table {
                    margin: auto;
                    text-align: left;
                    position: relative;
                    border-collapse: collapse;

                    // head
                    thead {

                        th {
                            text-align: center;
                            background-color: white;
                            top: 0;
                            position: sticky;
                            transition: 0.3s;
                        }

                        th.Total, th.New {

                            &:hover {
                                cursor: pointer;
                                background-color: #f3f3f3;
                            }
                        }
                        
                        th.selected {
                            background-color: #f3f3f3;
                        }
                    }

                    // body
                    tbody {

                        td.with-image {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }

                // Scrollbar styling
                &::-webkit-scrollbar {
                    width: 1em;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 5px;
                    background-color: #dadada;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 5px;
                    background-color: darkgrey;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: #7c7c7c;
                }
            }
        }
    }
}