@import './Global.scss';

body {
    font-size: $Default_Font-size;

    .page-container {
        max-width: 1200px;
        margin: auto;

        // WORLD
        #world_vue {
            margin: 50px 0px;

            // words
            .center {
                display: block;
                text-align: center;
            }

            .container {
                display: flex;
                align-items: center;
                justify-content: space-around;

                // lists
                ul {
                    width: 500px;

                    li {
                        display: flex;
                        justify-content: space-between;
                        font-weight: 400;
                        padding: 10px 50px;

                        * {
                            margin-left: 10px;
                        }
                    }

                    li.header {
                        font-size: $Default_Font-size + 4;
                        margin: auto;
                    }
                }
            }

            // canvases
            .canvases {
                display: flex;
                justify-content: space-around;

                canvas {
                    margin-top: 50px;
                    max-height: 500px;
                    max-width: 500px;
                }
            }
        }


    }
}